backup
*.DS_*
*.backup
last_rsync.log
cache
node_modules
npm-debug.log
db.sqlite3
geckodriver.log
.idea/
tags
.tags
.envrc
.env
__pycache__/
*.pyc
*.pid
*.db
Session.vim
logs/
Session.vim
scripts/fetch_test.py
scripts/populate_test.py
.idea/
