        <section class="section debug">
            <div class="columns">
                <div class="column">
                    <figure class="image is-square">
                        <img src="/static/sign-trans.png"> 
                    </figure>
                </div>
                <div class="column">
                    <figure class="image is-3by1">
                        <a href="{{ url_for('index') }}">
                            <img src="/static/dr_sandpaper_gray_gradient.png" class="w3-hover-sepia">
                        </a>
                    </figure>
                </div>
            </div>
        </section>
