<h4 class="title is-4" style="margin-bottom:-2px">{{ post.title }}</h4>
<div class="block" style="padding-bottom:30px">
    <div class="box has-text-centered">
        {% if post.link %}
    <div class="media">
        <!--<iframe width="560" height="315" src="{{ post.link }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
        {% autoescape on %}{{ post.link }}{% endautoescape %}
    </div>
        {% endif %}
        {% if post.body %}
        <p class="content">{{ post.body }}</p>
        {% endif %}
    </div>
</div>
