        <div class="container adjust">
            <div class="columns">
                <div class="column is-4">
                    <section class="hero">
                        <div class="hero-body">
                            <div class="container">
                                <figure class="image is-square">
                                    <img src="/static/">
                                </figure>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
