<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if title %}
        <title>{{ title }} - MusicBlog</title>
        {% else %}
        <title>Welcome to MusicBlog</title>
        {% endif %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <style>
            .hero { animation: pulse 35s infinite; }
            @keyframes pulse {
                0% {
                  background-color: #1C4FD7;
                }
                50% {
                  background-color: #D71C5E;
                }
                100% {
                  background-color: #1C4FD7;
                }
            }    
        </style>
    </head>
    <body>
        <section class="hero is-small">
            <div class="hero-body">
                <div class="container">
                <a href="{{ url_for('index') }}">
                    <img src="static/accintentional_ascii.png" class="w3-hover-sepia">
                    <!--<h1 class="title is-1">-->
                        <!--Musicblog:-->
                    <!--</h1>-->
                    <!--<p class="subtitle">-->
                        <!--Beat Hermit Archives-->
                    <!--</p>-->
                </a>
                </div>
            </div>
        </section>
        <!--<hr>-->
        <section class="section">
            <div class="columns is-centered">
                <div class"column is-half">
                {% block content %}{% endblock %}
                </div>
            </div>
        </section>
        {% block footer %}{% endblock %}
    </body>
</html>
