<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ config['APP_NAME'] }}</title>

        <!--SHARABILITY-->
        <meta property="og:url" content="https://sandpaperland.com" />
        <meta property="og:title" content="Doctor Sandpaper Recordings"/>
        <meta property="og:description" content="Austin, TX: Song poems, Jingles, and Sign Installation." />
        <meta property="og:image" content="https://sandpaperland.com/static/dr_sandpaper_color_web.png"/>
        <!--ICONS & FAVICON-->
        <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
        <link rel="apple-touch-icon" sizes="57x57" href="static/icons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="static/icons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="static/icons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="static/icons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="static/icons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="static/icons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="static/icons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="static/icons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="static/icons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="static/icons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="static/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="static/icons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="static/icons/favicon-16x16.png">
        <link rel="manifest" href="static/icons/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="static/icons/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <!--STYLES-->
        <link rel="stylesheet" href="{{ url_for('static', filename='bulma-dracula.css') }}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
        <!--FONTS-->
        <link href="https://fonts.googleapis.com/css?family=Mrs+Sheppards&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/1b953d886a.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!--<index.html>-->
        {% block content %}{% endblock %}

        {% block footer %}{% endblock %}
    </body>
</html>
