<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="file:///home/marko/dev/flask-music/static/bulma-dracula.css">
</head>
<body>
    <div class="block">
      <div class="columns">
        <div class="column is-three-quarters">
          <p class="notification">is-three-quarters</p>
        </div>
        <div class="column">
          <p class="notification">Auto</p>
        </div>
        <div class="column">
          <p class="notification">Auto</p>
        </div>
      </div>
    </div>

    
</body>
</html>