{% extends "base.html" %}

{% include '_hero.html' %}
{% block content %}
    <div class="container has-text-centered">
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    </div>
    <section class="section">
        <nav class="pagination">
        {% if prev_url %}
        <a href="{{ prev_url }}" class="pagination-previous" >Newer posts</a>
        {% endif %}
        {% if next_url %}
        <a href="{{ next_url }}" class="pagination-next">Older posts</a>
        {% endif %}
    </section>
{% endblock %}
